
body {
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
}

.btn:focus {
    outline: none;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.navbar-brand img {
    max-height: 100%;
}

/*#my_camera, #debugCanvas, #paperCanvas {
    background: rgb(255, 255, 255);
}*/

#recordingIndicatorText {
    color: #ee0000;
}

.inner {
  position: absolute;
}

.right {
    float:right;
}
